<p-table [value]="pessoas">
  <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pessoa</th>
        <th scope="col">CPF</th>
        <th scope="col">Sexo</th>
        <th scope="col">Naturalidade</th>
        <th scope="col">Nacionalidade</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">E-mail</th>
        <th class="text-right">Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pessoa>
      <tr>
          <td>{{ pessoa.id }}</td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.sexo }}</td>
          <td>{{ pessoa.naturalidade }}</td>
          <td>{{ pessoa.nacionalidade }}</td>
          <td>{{ pessoa.dataNascimento | date:'dd/MM/yyyy' }}</td>
          <td>{{ pessoa.email }}</td>
          <td>
            <div class="p-buttonset">
              <button type="button" [routerLink]="['editar', pessoa.id]" pButton icon="pi pi-pencil"></button>
              <button type="button" pButton (click)="excluir(pessoa.id)" icon="pi pi-trash"></button>
              
            </div>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <button type="button" pButton [routerLink]="['novo']" icon="pi pi-plus" label="Novo"></button>
  </ng-template>
</p-table>
